#cargar {
    width: 120px;
    height: 30px;
    background-color:coral;
    border-radius: 10px;
    border-color: coral;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#ocultar {
    width: 90px;
    height: 20px;
    background-color:rgb(246, 151, 117);
    border-radius: 10px;
    font-size: 10px;
    margin-left: 25px;
    display: none;
    border-color:rgb(246, 151, 117);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}


