
body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#contenedor {
    display: flex;
    flex-direction: column;
}

#titulo {
    background-image: linear-gradient(to right, #4682B4, #B0C4DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#busqueda {
    background-color: rgb(188, 135, 238);
    border-radius: 5px;
    border-color: rgb(188, 135, 238);
}

#escanear {
    background-color: rgb(248, 149, 138);
    border-radius: 5px;
    border-color: rgb(248, 149, 138);
}

#formBusqueda {
    margin-bottom: 70px;
    margin-top: 10px;
}

#buscar {
    background-color: #0373e4;
    border-radius: 8px;
    border-color: #0373e4;
    font-size: 12px;
    text-align: center;
    width: 50px;
    height: 21px;
}

#resultado {
    font-size: 20px;
}

#error {
    color: red;
    margin-top: 3px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #656fe1;
    color: white;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

#detener {
    margin-top: 10px;
    background-color: rgb(113, 199, 202);
    border-radius: 5px;
    border-color: rgb(113, 199, 202);
}

#reiniciar {
    margin-top: 10px;
    background-color: darkolivegreen;
    border-radius: 5px;
    border-color: darkolivegreen;
}

#recargar {
    margin-top: 10px;
    background-color: rgb(235, 190, 76);
    border-radius: 5px;
    border-color: rgb(235, 190, 76);
}

#ver {
    margin-top: 10px;
    background-color: rgb(195, 55, 250);
    border-radius: 5px;
    border-color: rgb(195, 55, 250);
}

#cerrar {
    margin-top: 10px;
    background-color:rgb(231, 82, 162);
    border-radius: 5px;
    border-color: rgb(231, 82, 162);
}

#detener {
    margin-top: 10px;
    background-color:rgb(255, 106, 20);
    border-radius: 5px;
    border-color: rgb(255, 106, 20);
}

#info{
    background-color: rgb(134, 176, 224);
    width: 60%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
}

#info p, h3 {
    margin: 0;
    padding: 10px;
}

#codigo {
    border-radius: 8px;
    font-size: 12px;
    text-align: center;
    width: 120px;
    height: 15px;
}

#opciones {
    margin-top: 70px;
    margin-bottom: 50px;
}

#busquedaCodigo {
    margin-bottom: 5px;
}


#formBusqueda, #info, #listaProductos, #error, #cerrar, #detener, #h5 {
    display: none;
}


