
body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


#busqueda {
    border-radius: 0%;
    margin-bottom: 30px;
    margin-top: 20px;
}

#contenedor {
    display: flex;
    flex-direction: column;
}

#titulo {
    color: black;
}

#error {
    margin-top: 3px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(184, 204, 227);
    color: white;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

#info{
    background-color: rgb(184, 204, 227);
    width: 60%;
    border-radius: 5px;
}

#info p, h3 {
    margin: 0;
    padding: 10px;
}

#codigo {
    width: 130px;
    height: 30px;
}


